# This file is to seg train and val dataset

In [1]:
import pandas as pd

In [2]:
train_para_ = pd.read_csv('../2_data/train_sequence.csv', header=None)
train_label_ = pd.read_csv('../2_data/train_label.csv', header=None)

In [3]:
train_para_.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.365793,-2.314538,0.823914,-0.629632,5.893436,0.655085,-4.789926,-8.106955,2.514650,-6.268966,-5.492786,-3.471301
1,-2.269225,-2.533933,2.532465,-8.243531,-7.190703,3.090301,-3.887489,6.839640,-0.935541,7.948233,9.533810,-2.648322

## train_para

In [4]:
v_p = train_para_.head(32000-3200)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.365793,-2.314538,0.823914,-0.629632,5.893436,0.655085,-4.789926,-8.106955,2.514650,-6.268966,-5.492786,-3.471301
1,-2.269225,-2.533933,2.532465,-8.243531,-7.190703,3.090301,-3.887489,6.839640,-0.935541,7.948233,9.533810,-2.648322

In [5]:
v_p.to_csv('../4_result/train_para.csv', header=None, index=None)

In [7]:
v_p = pd.read_csv('../4_result/train_para.csv', header=None)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.365793,-2.314538,0.823914,-0.629632,5.893436,0.655085,-4.789926,-8.106955,2.514650,-6.268966,-5.492786,-3.471301
1,-2.269225,-2.533933,2.532465,-8.243531,-7.190703,3.090301,-3.887489,6.839640,-0.935541,7.948233,9.533810,-2.648322

## train_label

In [11]:
v_p = train_label_.head(32000-3200)
v_p.head(2)

    0
0  10
1   3

In [12]:
v_p.to_csv('../4_result/train_label.csv', header=None, index=None)

In [13]:
v_p = pd.read_csv('../4_result/train_label.csv', header=None)
v_p.head(2)

    0
0  10
1   3

## val_para

In [8]:
v_p = train_para_.tail(3200)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
28800,-5.547217,-9.540765,0.573241,3.754040,-1.738183,-9.444189,-7.659289,5.676736,-9.147245,7.298367,3.892202,-0.736730
28801,-0.974961,9.941557,1.741922,8.369947,9.273596,5.420076,-8.743001,-8.054792,-8.406373,8.329600,7.278725,1.447542

In [9]:
v_p.to_csv('../4_result/val_para.csv', header=None, index=None)

In [10]:
v_p = pd.read_csv('../4_result/val_para.csv', header=None)
v_p.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-5.547217,-9.540765,0.573241,3.754040,-1.738183,-9.444189,-7.659289,5.676736,-9.147245,7.298367,3.892202,-0.736730
1,-0.974961,9.941557,1.741922,8.369947,9.273596,5.420076,-8.743001,-8.054792,-8.406373,8.329600,7.278725,1.447542

## val_label

In [16]:
v_p = train_label_.tail(3200)
v_p.head(2)

       0
28800  1
28801  5

In [17]:
v_p.to_csv('../4_result/val_label.csv', header=None, index=None)

In [18]:
v_p = pd.read_csv('../4_result/val_label.csv', header=None)
v_p.head(2)

   0
0  1
1  5

In [19]:
520 // 32

16

In [20]:
16 * 32

512

In [21]:
128 * 12

1536